@use "sass:math";

@mixin arcade-button($push-color, $push-size: 123px) {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: $push-color;
  border-radius: 50%;
  transition: box-shadow 200ms;
  box-shadow:
    inset 0 math.div($push-size, 32) 0 lighten($push-color, 5%),
    inset 0 math.div(-$push-size, 32) 0 darken($push-color, 5%),
    inset 0 0 0 math.div($push-size, 32) darken($push-color, 3%),
    inset 0 0 0 math.div($push-size, 12) $push-color,
    inset 0 0 0 math.div($push-size, 10) darken($push-color, 20%),
    inset 0 0 0 math.div($push-size, 9.2) darken($push-color, 50%),
    inset 0 0 0 math.div($push-size, 7.5) transparentize(lighten($push-color, 15%), .3%),
    inset 0 0 0 math.div($push-size, 5.5) $push-color,
    inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5) darken($push-color, 5%),
    inset 0 0 math.div($push-size, 10) math.div($push-size, 6) darken($push-color, 10%),
    0 math.div($push-size, 20) 0 rgba(0, 0, 0, .3);

  &:after {
    content: '';
    position: absolute;
    bottom: math.div($push-size, 20);
    left: math.div($push-size, 10);
    display: block;
    width: math.div($push-size, 1.25);
    height: math.div($push-size, 1.25);
    border: math.div($push-size, 15) solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  &.is-pushed {
    box-shadow:
      inset 0 math.div($push-size, 32) 0 lighten($push-color, 2.5%),
      inset 0 math.div(-$push-size, 32) 0 darken($push-color, 10%),
      inset 0 0 0 math.div($push-size, 32) darken($push-color, 3%),
      inset 0 0 0 math.div($push-size, 12) $push-color,
      inset 0 0 0 math.div($push-size, 10) darken($push-color, 40),
      inset 0 0 0 math.div($push-size, 8.5) darken($push-color, 80%),
      inset 0 0 0 math.div($push-size, 7.5) transparentize(lighten($push-color, 10%), .8),
      inset 0 0 0 math.div($push-size, 5.5) darken($push-color, 12%),
      inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5) darken($push-color, 16%),
      inset 0 0 math.div($push-size, 10) math.div($push-size, 6) darken($push-color, 30%),
      0 math.div($push-size, 20) 0 rgba(0, 0, 0, .6);
    background-color: darken($push-color, 9%);

    &:after {
      bottom: math.div($push-size, 20) + math.div($push-size, 15);
      border-width: 0;
    }
  }
}
