@import "./arcade_button.scss";

.controller.fight-stick {
  background: none;

  .arrows { display: none; }
  .quadrant { display: none; }

  .abxy {
    .button {
      &.a { @include arcade-button(#5ca935); }
      &.b { @include arcade-button(#d41a25); }
      &.x { @include arcade-button(#0084c4); }
      &.y { @include arcade-button(#f1d100); }
    }
  }

  .triggers { display: none; }

  .bumpers { display: none; }
}
