@import "../arcade_button.scss";
@import "../globals.scss";
@import "./colors.scss";

.controller.fight-stick {
  background: none;

  .arrows { display: none; }
  .quadrant { display: none; }

  .abxy {
    .button {
      &.a { @include arcade-button($kick); }
      &.b { @include arcade-button($heavy-slash); }
      &.x { @include arcade-button($punch); }
      &.y { @include arcade-button($slash); }
    }
  }

  .triggers { 
    right: $bumper-trigger-space !important;
    .trigger-button {
      &.left { display: none; }
      &.right { @include arcade-button($dash); }
    }
  }

  .bumpers {
    right: $bumper-trigger-space !important;
    .bumper {
      &.left { display: none; }
      &.right { @include arcade-button($dust); }
    }
  }
}
