@import "../arcade_button.scss";
@import "../globals.scss";

.controller.fight-stick {
  background: none;

  .arrows { display: none; }
  .quadrant { display: none; }

  .abxy {
    .button {
      &.a { @include arcade-button(#5166b3); } // Kick
      &.b { @include arcade-button(#f7cb29); } // Beast
      &.x { @include arcade-button(#ef4729); } // Punch
      &.y { @include arcade-button(#348eca); } // Guard
    }
  }

  .triggers { 
    right: $bumper-trigger-space !important;
    .trigger-button {
      &.left { @include arcade-button($default-white); }
      &.right { @include arcade-button($default-gray); }
    }
  }

  .bumpers {
    right: $bumper-trigger-space !important;
    .bumper {
      &.left { @include arcade-button($default-white); }
      &.right { @include arcade-button($default-gray); }
    }
  }
}
