@import "../arcade_button.scss";
@import "../globals.scss";

.controller.fight-stick {
  background: none;

  .arrows { display: none; }
  .quadrant { display: none; }

  .abxy {
    .button {
      &.a { @include arcade-button(#3a9154); }
      &.b { @include arcade-button(#ffd800); }
      &.x { @include arcade-button($default-gray); }
      &.y { @include arcade-button($default-gray); }
    }
  }

  .triggers { 
    right: $bumper-trigger-space !important;
    .trigger-button {
      &.left { display: none; }
      &.right { @include arcade-button(#1f34a8); }
    }
  }

  .bumpers {
    right: $bumper-trigger-space !important;
    .bumper {
      &.left { display: none; }
      &.right { @include arcade-button($default-gray); }
    }
  }
}
