@import "../arcade_button.scss";

.controller.fight-stick {
  background: none;

  .arrows { display: none; }
  .quadrant { display: none; }

  .abxy {
    .button {
      &.a { @include arcade-button(#92a7d6); } // Cross
      &.b { @include arcade-button(#ff5a34); } // Circle
      &.x { @include arcade-button(#e791c2); } // Square
      &.y { @include arcade-button(#01ba9b); } // Triangle
    }
  }

  .triggers { display: none; }

  .bumpers { display: none; }
}
