@import "../arcade_button.scss";
@import "../globals.scss";

.controller.fight-stick {
  background: none;

  .arrows { display: none; }
  .quadrant { display: none; }

  .abxy {
    .button {
      &.a { @include arcade-button(#92a7d6); } // Cross
      &.b { @include arcade-button(#ff5a34); } // Circle
      &.x { @include arcade-button(#e791c2); } // Square
      &.y { @include arcade-button(#01ba9b); } // Triangle
    }
  }

  .triggers { 
    right: $bumper-trigger-space !important;
    .trigger-button {
      &.left { display: none; }
      &.right { @include arcade-button($default-gray); }
    }
  }

  .bumpers {
    right: $bumper-trigger-space !important;
    .bumper {
      &.left { display: none; }
      &.right { @include arcade-button($default-gray); }
    }
  }
}
